#pip install --pre torch torchvision torchaudio --index-url https://download.pytorch.org/whl/nightly/cu128
#pip install torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cu121
numpy
scikit-learn
scipy
#torch
torch_geometric
#torchaudio
torchvision
tqdm
PyYAML
pandas
skorch
braindecode
xmltodict
mat73
optuna==4.5.0
jupyter
